<div class="container">
  <div class="card">
    <div class="card-container">
      <mat-drawer-container class="drawer-container" autosize>
        <mat-drawer #drawer class="drawer-sidenav" mode="side">
          <div class="card-inner">
            <div class="card-heading">
              <div class="card-heading-logged-in-user">
                <p-avatar
                  icon="pi pi-user"
                  styleClass="mr-2"
                  shape="circle"
                />

                <small>{{ user.username }}</small>
              </div>
              <div class="card-heading-info">
                <h1 [routerLink]="['/']">My Chatrooms</h1>
              </div>
              <p-button outlined styleClass="fullWidth" (onClick)="isDialogVisible = !isDialogVisible">
                Create new Room
              </p-button>
              <app-create-room [visible]="isDialogVisible"></app-create-room>
            </div>

            <div
              *ngIf="(rooms$ | async)?.length > 0; else no_rooms"
              class="rooms"
            >
              <mat-selection-list
                hideSingleSelectionIndicator="true"
                class="message-list"
                [multiple]="false"
                (selectionChange)="onSelectRooms($event)"
              >
                <mat-list-option
                  class="message-list-item"
                  *ngFor="let room of rooms$ | async"
                  [selected]="selectedRoom && room.id === selectedRoom.id"
                  [value]="room"
                >
                  {{ room.name }}
                  <mat-divider></mat-divider>
                </mat-list-option>
              </mat-selection-list>
            </div>
          </div>
        </mat-drawer>

        <div class="chatroom">
          <span class="pi pi-bars toggle-btn" (click)="drawer.toggle()"></span>
          <app-chat-room [chatRoom]="selectedRoom"></app-chat-room>
        </div>
      </mat-drawer-container>
    </div>
  </div>
</div>

<ng-template #no_rooms>
  <div>
    <p>No Chatrooms for you so far, please create one or get invited</p>
  </div>
</ng-template>
