.container {
  display: flex;
  justify-content: center;
  min-width: 350px;
}

.card {
  width: 100%;
  height: 100%;

  &-container {
    display: flex;
    flex-direction: row;
  }

  &-inner {
    padding: 20px;
  }

  &-heading {
    display: flex;
    flex-direction: column;

    &-info {
      display: flex;
      align-items: center;

      h1 {
        cursor: pointer;
      }
    }

    &-logged-in-user {
      margin-left: 10px;
    }
  }
}

.mat-drawer-container {
  width: 100vw;
}

.rooms {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75vh;
  overflow: hidden;
  scrollbar-color: lightgrey darkgrey;
  scrollbar-width: thin;
}

.chatroom {
  position: relative;
  padding: 20px 60px;
  width: 100%;
}

.toggle-btn {
  color: var(--primary-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.message-list {
  &-item[aria-selected="true"] {
    background: #97daf8;
    border-radius: 5px;
    color: white;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: aliceblue;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: aliceblue;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: aliceblue;
}
