.container {
    display: flex;
    justify-content: center;
    margin: 20px;
    min-width: 350px;
}

.card {
    padding: 20px;
    
    &-container {
        display: flex;
        flex-direction: row;
    }
}


.message-list {
    &-item {
        .mdc-radio__background {
            display: none !important;
    }
}
}

