<p-dialog
  header="Create new room"
  [modal]="true"
  [(visible)]="visible"
  (onHide)="hideDialog()"
>
  <div>
    <form [formGroup]="form" (ngSubmit)="create()">
      <div class="field mb-4">
        <input
          pInputText
          type="text"
          class="fullWidth"
          placeholder="name"
          formControlName="name"
        />
        <small class="error" *ngIf="name.touched && name.hasError('required')">
          Name is required
        </small>
      </div>
      <div class="field mb-4">
        <input
          type="text"
          pInputText
          class="fullWidth"
          placeholder="Description"
          formControlName="description"
        />
      </div>
      <div class="field">
        <app-select-users
          [users]="users.value"
          (addUser)="addUser(initUser($event))"
          (removeUser)="removeUser($event.id)"
        ></app-select-users>
      </div>
      <div *ngIf="form.touched && !form.valid">
        <small>Please fill out all needed info</small>
      </div>
      <div class="button p-2 flex justify-content-center">
        <p-button text type="submit" [disabled]="!form.valid">
          Create Chatroom
        </p-button>
      </div>
    </form>
  </div>
</p-dialog>
