<div class="formgroup-inline">
  <div class="field">
    <p-autoComplete
      showClear
      field="username"
      scrollHeight="100px"
      [suggestions]="filteredUsers"
      [formControl]="searchUsername"
      placeholder="Search user by username"
      (onSelect)="setSelectedUser($event.value)"
    >
      <ng-template let-user pTemplate="item">
        <div class="flex align-items-center gap-2">
          <div>{{ user.username }}</div>
        </div>
      </ng-template>
    </p-autoComplete>
  </div>
  <p-button
    type="button"
    text
    [disabled]="!selectedUser"
    (click)="addUserToForm()"
  >
    Add User
  </p-button>
</div>

<div *ngIf="users?.length > 0; else no_users">
  <p-chip
    class="chip"
    [removable]="true"
    [label]="user.username"
    *ngFor="let user of users"
    (onRemove)="removeUserFromForm(user)"
  />
</div>

<ng-template #no_users>
  <div>
    <small>No users added so far</small>
  </div>
</ng-template>
