.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    min-width: 350px;

    .button, .title, .register, .form {
        display: flex;
        justify-content: center;
    }

    .card {
        padding: 10px;
    }

    .title {
        margin-bottom: 20px;
    }

    .login {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .form {
        flex-direction: column;
    }

    .form-field {
        width: 100%;
        min-width: 300px;
        margin-bottom: 20px;
    }
}